body {
	margin: 0;
	padding: 0;
	font-family: 'Shippori Mincho', serif;
}
/*************************************/
/*               header              */
/*************************************/
#header {
	height: 80px;
	display: flex;
	padding: 0 16px;
}

#HeaderLogo{
	display: inline-block;
	font-family: 'Pushster', cursive;
	font-size: 60px;
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding: 0 10px;
	cursor: pointer;
}

#HeaderLogo:hover{
	opacity: .6;
}

#HeaderMenu{
	margin-left: auto;
}

#HeaderMenu ul{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

#HeaderMenu ul li{
	line-height: 80px;
	margin: 0 56px;
	cursor: pointer;
}

#HeaderMenu ul li:hover{
	color: #5ED5DD;
}

#sp-HeaderMenu{
	display: none;
}

@media(max-width:600px){

	#header{
		outline: 3px solid red;
	}

	#HeaderLogo{
		font-size: 48px;
	}

	#sp-HeaderMenu{
		display: block;
		margin-left: auto;
		line-height: 96px;
	}
	#HeaderMenu{
		display: none;
	}
}

/***************************************/
/*                main                 */
/***************************************/
#mainTop {
	position: relative;
}


#mainTitle {
	margin: 0;
	padding: 0;
	position: absolute;
	font-family: serif;
	bottom: -100px;
	left: 100px;
}

#mainTitle .title {
	margin: 0;
	padding: 0;
	font-size: 72px;
	text-shadow: 1px 0 10px white;
}

#mainTitle .subtitle {
	margin: 0;
	padding: 0;
	font-size: 30px;
}

#ChangeBigImgs {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 560px;
	list-style: none;
	display: flex;
	overflow: hidden;

}

#BigImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoom 5s ease-in-out forwards;
}

@keyframes zoom {
	100% {
		transform: scale(1.2);
	}
}

@media(max-width:600px){

	#main{
	}

	#mainTop{
		height: 320px;
		padding: 0;
		margin: 0;
	}

	#BigImg{
		height: 320px;
		animation: none;
	}

	#mainTitle{
		bottom: -60px;
		left: 10px;
	}

	#mainTitle .title{
		font-size: 32px;
	}

	#mainTitle .subtitle{
		font-size: 16px;
	}

}

/***************************************/
/*                news                 */
/***************************************/

#news {
	margin: 200px auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100px;
}

#newsTitle {
	font-size: 40px;
	text-align: center;
	margin-right: 80px;
}

#newsForEach ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#newsForEach ul li {
	line-height: 50px;
	border-bottom: 3px dotted black;
}


@media(max-width:600px){
	#news{
		margin: 160px auto;
		display: block;
	}

	#newsTitle{
		margin: 0px auto;
		line-height: none;
		font-size: 32px;
	}

	#newsForEach ul{
		text-align: center;
		padding: 16px 32px;
	}

	#newsForEach ul li{
		margin: 0 auto;
	}
}

/******************************************/
/*              fixed menu                */
/******************************************/

#FixedMenu {
	text-align: center;
	position: fixed;
	width: 80px;
	right: 0;
	top: 80%;
	background-color: #5ED5DD;
	animation: Fixedmenu 3s;
}

@keyframes Fixedmenu {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media(max-width:600px){
	#FixedMenu{
		display: none;
	}
}

/******************************************/
/*              top message               */
/******************************************/

#TopMessageTitle {
	text-align: center;
	font-size: 48px;
	margin-bottom: 80px;
}

#TopMessageContents {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s, transform 1s;
}

#TopMessageContents.appear {
	opacity: 1;
	transform: none;
}


#TopMessageImg img {
	width: 300px;
	height: auto;
	margin: 24px;
}

#TopMessageSentences {
	margin: 0 40px;
}

#TopMessageSubTitle {
	font-size: 32px;
	border-bottom: 2px solid grey;
}

#TopMessageDetailed {
	line-height: 32px;
}

@media(max-width:600px){
	#TopMessageTitle{
		margin: 240px auto 0 auto;
		font-size: 32px;
	}
}

/******************************************/
/*              Parallels                 */
/******************************************/

#ParallelTitle {
	text-align: center;
	font-size: 48px;
	margin-top: 320px;
}

#ParallelExplanation p {
	text-align: center;
	margin-top: 56px;

}

#ParallelContents {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 104px;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s, transform 1s;
}
#ParallelContents.appear{
	opacity: 1;
	transform: none;
}

#ParallelContents .Parallel {
	margin: 0 10px;
}

#ParallelContents .Parallel img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	display: block;
	margin: 0 auto;
}


.Parallel h3 {
	text-align: center;
	margin: 50px 0;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s, transform 1s;
}

#ParallelContents.appear .Parallel h3{
	opacity: 1;
	transform: none;
	transition-delay: .6s;
}


#ParallelContents p {
	width: 400px;
	background-color: rgba(185, 255, 230, 0.3);
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 1s, transform 1s;
}

#ParallelContents.appear .Parallel p{
	transform: none;
	opacity: 1;
	transition-delay: .8s;
}

@media(max-width:600px){
	#Parallels{
		margin: 0 16px;
	}
	#ParallelTitle{
		font-size: 32px;
	}

	#ParallelContents h3{
		margin: 32px auto;
	}

	#ParallelContents p{
		width: 100%;
		margin-bottom: 40px;
	}
}